<div class="list_row">
    <div class="title noselect template"><%=name%></div>
    <span class="button_cell">
        <span id="repo_delete" class="minibutton float_right"><%= _.t('delete')%></span>
        <span id="repo_edit" class="minibutton float_right"><%= _.t('edit')%></span>
    </div>
</div>