<div class="title_box">
  <span class="title_box_inner" class="noselect"><%= _.t('repos') %></span>
</div>
<div class="centered_list">
    <div class="list_toolbar">
        <div id="new_repo" class="minibutton plus new_account float_left"><div class="icon white_plus"></div><%= _.t('new_repo')%></div>
    </div>
</div>

