
<div class="row">
  <label for="repo_name" title="<%= _.t('name_explanation') %>">
      <%= _.t('repo_name') %>:
  </label>
  <div class="text_input dark small">
    <input name="repo_name" id="repo_name" class="attribute" type="text" value="<%=repo_name%>"/>
  </div>
</div>






