.dialog input {
    background: #1e1e1e;
    border: 1px solid #393939;
    color: #ccc;
    font-size: 11px;
    padding: 3px 3px;
}

.dialog input:focus {
    background: #fff;
    border-color: #fff;
    color: #333;
}

.dialog label {
    background-color: #000;
    color: #ccc;
    font-size: 11px;
    text-align: right;
    display: block;
}

/*
 * TYPEAHEAD.BUNDLE.JS
 */
.dialog #scrollable-dropdown-menu .tt-dropdown-menu {
    background-color: #000;
    font-size: 11px;
    cursor: pointer;
}

.tt-suggestion.tt-cursor {
    background-color: lightslategray;
}
