/*
 * HEADERS / TEXT
 */
h1 {
    text-align: center;
    font: bold 20px Arial;
    color: #000;
    padding: 14px 30px 20px;
}

h2 {
    font: bold 16px Arial;
}

p.field_instructions {
    font: italic 10px Arial;
}


/*
 * INPUTS (GENERAL)
 */
input {
    border-radius: 5px;
    margin-bottom: 3px;
}

input [type=radio] + label {
    margin-top: 5px;
}

button {
    font: bold 12px Arial;
    min-width: 50px;
    cursor: pointer;
    margin-bottom: 5px;
}

select[multiple] {
    min-width: 200px;
    height: 100px;
}


/*
 * INPUTS (SPECIFIC)
 */
input.lookup_box {
    background: white url(/images/embed/icons/search_glyph.png) no-repeat scroll right center !important;
}

input.long {
    min-width: 200px;
}


/*
 * TABLES (GENERAL)
 */
td {
    padding: 5px 10px;
    vertical-align: middle;
}


/*
 * TABLES (SPECIFIC)
 */
table.bordered {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
}


/*
 * STRUCTURAL DIVS
 */
div.centered_tab_content {
    display: inline-block;
    margin: auto;
    background: lightgray;
    padding: 15px;
    border-radius: 5px;
}

div.two_column_split {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    padding-bottom: 10px;
}

div.three_column_split {
    display: inline-block;
    width: 32%;
    vertical-align: top;
    padding-bottom: 10px;
}


/*
 * CENTERED LIST
 */
.centered_list {
    max-width: 600px;
    margin: auto;
}

.list_toolbar {
    height: 26px;
    margin-bottom: 20px;
}

.list_row {
    padding: 8px;
    width: 600px;
    margin-top: 10px;
    background-color: lightgray;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 5px;
}

.list_row.sub {
    margin-top: 0px;
    background-color: white;
    border-width: 0px;
}

.list_row .title {
    color: #000;
    font: bold 16px/20px Helvetica, Arial;
    padding-left: 32px;
    display: inline-block;
    width: 250px;
}

.list_row .title.sub {
    padding-left: 96px;
}

.list_row .minibutton {
    margin-left: 8px;
}

/*
 * ICONS
 */
div.help_url_icon {
    float: right;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background: url('/images/embed/icons/info_button_16.png');
}

/*
 * TYPEAHEAD.BUNDLE.JS
 */
#scrollable-dropdown-menu .tt-dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 200px;
}