/*--------------------------- Template Manager Dialogs --------------------------------*/
#new_field {
    width: 40px;
    margin-right: 250px;
}

#field_listing {
    margin-left: 32px;
    width: 256px;
}

#field_listing.text_input {
    position: relative;
    height: 32px;
}

#field_listing .title {
    display: inline-block;
    width: 200px;
    font-size: 11px;
    margin-bottom: 5px;
}

#field_listing .checkbox {
    display: inline-block;
}

.button_cell {
    padding-left: 24px;
    float: right;
    position: relative;
    top: -2px;
}

.minibutton.delete_template {
    position: relative;
    bottom  : 24px;
    left   : 280px;
}




