<div id="field_listing" class="dark small">
    <div class="title noselect"><%=field_name%></div>
    <div class="checkbox"><input type="checkbox" id="field_<%=field_id%>" class="field_checkbox"></div>
</div>