<div class="list_row sub">
    <div class="title noselect sub"><%=name%></div>
    <span class="button_cell">
        <span id="subtemplate_delete" class="minibutton float_right"><%= _.t('delete')%></span>
        <span id="subtemplate_edit" class="minibutton float_right"><%= _.t('edit')%></span>
    </div>
</div>