
<div class="row">
  <label for="template_name" title="<%= _.t('name_explanation') %>">
      <%= _.t('template_name') %>:
  </label>
  <div class="text_input dark small">
    <input name="template_name" id="template_name" class="attribute" type="text" value="<%=name%>"/>
  </div>
</div>
<div class="row">
    <label class="title"><%= _.t('template_fields') %></label>
</div>
<div class="field_list"></div>




