<div id="field_listing" class="text_input dark small">
    <input name="field_name" id="field_name" type="text" value="<%=field_name%>"/>
    <div class="minibutton delete_template warn">Delete</span>
</div>