<div class="title_box">
  <span class="title_box_inner" class="noselect"><%= _.t('templates') %></span>
</div>
<div id="template_toolbar">
    <div id="new_template" class="minibutton plus new_account float_left"><div class="icon white_plus"></div><%= _.t('new_template')%></div>
</div>
<div class="template_list"></div>

