<div class="list_row">
    <div class="title noselect template"><%=name%></div>
    <span class="button_cell">
        <span id="template_delete" class="minibutton float_right"><%= _.t('delete')%></span>
        <span id="template_edit" class="minibutton float_right"><%= _.t('edit')%></span>
        <span id="new_subtemplate" class="minibutton float_right"><%= _.t('new_subtemplate')%></span>
    </div>
    <div class="subtemplate_container"></div>
</div>