<div class="annotation_listing" id="annotation-<%=annotation_id%>">
    <div class="annotation_name"></div>
    <div class="annotation_separator">:</div>
    <div class="annotation_value"></div>
</div>


