<div class="annotation_listing" id="annotation-<%=annotation_id%>">
    <div class="row_status incomplete"></div>
    <div class="annotation_name"><%=title%></div>
    <div class="annotation_separator">:</div>
    <div class="annotation_value"><%=content%></div>
</div>
<div class="annotation_actions">
    <div class="clone_item"></div>
    <div class="delete_item" id="delpoint_<%=annotation_id%>"></div>
</div>


