<div class="control_panel_title gradient_light">
    <div class="button_panel">
        <div class="new_group">+ New Group</div>
    </div>
</div>
<div class="control_panel_title gradient_light group_navigation"></div>

<div class="header">Groups</div>
<div id="group_section"></div>
<hr>
<div class="header">Data Points <%if(template_name != null){%>(Template: <%=template_name%>)<%}%></div>
<div id="annotation_section"></div>

