<div class="file_note_listing">
    <div class="row_status incomplete"></div>
    <div class="note_text"><%=title%></div>
</div>
<div class="file_note_actions">
    <div class="editor_icon approve_item" title="Approve"></div>
    <div class="editor_icon reject_item" title="Reject"></div>
</div>


