<td>
    <div class="row_status incomplete"></div>
</td>
<td class="note_text_cell">
    <div class="note_text"><%=title%></div>
</td>

<%if( show_approval ){ %>
<td class="table_icons">
    <div class="editor_icon approve_item" title="Approve"></div>
    <div class="editor_icon reject_item" title="Reject"></div>
</td>
<% } %>





