<div class="group_listing" id="grouplist_<%=group_id%>">
    <div class="group_name" id="group_<%=group_id%>"><a><%=name%></a></div>
    <div class="edit_group icon edit_glyph"></div>
    <div class="clone_item" clonegroup_<%=group_id%>"></div>
    <div class="delete_item delete_group" id="delgroup_<%=group_id%>"></div>
</div>


