<div class="group_listing" id="grouplist_<%=group_id%>">
    <div class="row_status incomplete"></div>
    <div class="group_name" id="group_<%=group_id%>"><a><%=name%></a></div>
    <div class="edit_group icon edit_glyph editor_icon" title="Edit"></div>
    <div class="clone_item editor_icon" clonegroup_<%=group_id%>" title="Clone"></div>
    <div class="delete_item delete_group editor_icon" id="delgroup_<%=group_id%>" title="Delete"></div>
</div>


