
<div class="row">
      <%= _.t('blank_note_error') %>
</div>
<div class="row tall">
    <%=_.t('file_note')%>:
    <textarea id="qa_note" class="text_area dark small content attribute"><%=qa_note%></textarea>
</div>





