
<div class="row">
      <%= _.t('reject_point_explanation') %>
</div>
<div class="row tall">
    <textarea id="qa_point_note" class="text_area dark small content attribute"><%=qa_point_note%></textarea>
</div>





