
<div class="radio_row">
      <%= _.t('reject_de_text') %>
</div>
<div class="radio_row">
    <input name="de_to_reject" type="radio" value="1"><%=_.t('de_left')%>
</div>
<div class="radio_row">
    <input name="de_to_reject" type="radio" value="2"><%=_.t('de_right')%>
</div>
<div class="radio_row">
    <input name="de_to_reject" type="radio" value="3"><%=_.t('reject_de_both')%>
</div>




